a {
    color: white;
    text-decoration: none
}

a:hover {
    color: #d3d3d3;
    text-decoration: none
}

.logo {
    width: 15%
}

.menu-container{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-up {
    top: 90%;
    right: 100px
}

.menu-toggler{
  background: transparent;
  border: 0;
}

.zoom {
    transition: all .5s;
    cursor: pointer;
}
.zoom:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
  .center-xs{
    text-align: center;
  }

  .menu-item {
      width: 100%;
      padding: 10px;
  }

  .menu-container{
    padding: 0;
    display: list-item;
  }
}
@media(max-width:970px) {
    .logo {
        width: 30%
    }
}
